:host {
  display: block;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
}

input {
  flex: 2 1 18rem;
}

p-select {
  flex: 1 1 12rem;
  min-width: 12rem;
}
