:host {
  display: grid;
  gap: 1.5rem;
}

section {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;

  h1 {
    margin: 0 0 .5rem;
  }

  p {
    margin: 0;
  }
}

.demo-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

@media (max-width: 40rem) {
  section {
    align-items: flex-start;
    flex-direction: column;
  }
}
